*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
   line-height: 0.8;
}
.container{
    width: 1410px;
    margin: 0 auto;
}
.common_btn{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: #FF5538;
    background-color: transparent;
    border: 1px solid #FF5538;
    padding: 14px 28px;border-radius: 18px;
    line-height: 200%;
    transition: all linear 0.3s;
    text-transform: capitalize;
}
.common_btn:hover{
    background-color: #FF5538;
    color: #fff;
}
/* ============== navber start hare ================ */
#navber{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 555;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.manu ul{
    display: flex;
    column-gap: 74px;
}
.manu ul li a{
    font-size: 18px;
    font-weight: 600;
    line-height: auto;
    font-family: 'Open Sans', sans-serif;
    color: #29313D;
    text-transform: capitalize; 
    transition: all linear 0.3s;
}
.manu ul li a i{
    padding-left: 8px;
}
.manu ul li a:hover{
    color: #FF5538;
}
/* ============== navber end hare ================== */

/* ============== banner start hare ================ */
#banner{
    background-color: #FBF3F0;
    padding: 293px 0 297px 0;
    position: relative;
}
.banner_content{
    align-items: center;
    position: relative;
}
.banner_content h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
    width: 771px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
}
.banner_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    width: 547px;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}
.banner_btn{
    justify-content: center;
   display: flex;
   column-gap: 24px;
   padding-top: 44px;
   text-transform: capitalize;
}
.shape1{
    position: absolute;
    top: 0;
    left: 0;
}
.shape2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.shape3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.shape4{
    position: absolute;
    top: -80px;
    left: -110px;
}
.shape5{
    position: absolute;
    right: 50px;
    bottom: 0;
}
.shape6{
    position: absolute;
    left: 0;
    bottom: -146px;
}
.shape7{
    position: absolute;
    bottom: 240px;
    left: 290px;
}
.round1{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #FFABBA;
    animation: round1 4s linear infinite 
}
@keyframes round1 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.round1::after{
    position: absolute;
    content: "";
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFABBA;
}
.round2{
    position: absolute;
    top: 640px;
    left: 260px;
    height: 239px;
    width: 239px;
    border-radius: 50%;
    border: 2px solid #FFDCD8;
}
.shape8{
    position: absolute;
    top: 190px;
    right: 0;
}
/* ============== banner end hare ================== */

/* ============== service start hare ================ */
#service{
    position: relative;
}
.service_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: -160px;
}
.service_item{
    width: 450px;
    background-color: #fff;
    padding: 40px 30px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
}
.service_item h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 160%;
    padding: 35px 0 16px 0;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.service_item p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    color: #29313D;
}
/* ============== service end hare ================== */

/* ============== exper start hare ================ */
.heading_group{
    padding-top: 280px;
}
.subheading{
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    color: #FF5538;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.heading{
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
    width: 450px;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0 10px 0;
}
.exper_wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.exper_img{
    width: 45%;
    height: 520px;
    z-index: 555;
}
.exper_content{
    width: 55%;
    height: 620px;
    background-color: #FBF3F0;
    padding: 100px 185px;
}
.exper_img_box{
    position: relative;
    z-index: 555;
    width: 110%;
    height: 100%;
    overflow: hidden;
}
.exper_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exper_content h3{
    font-size: 38px;
    font-weight: 600;
    color: #29313D;
    line-height: 140%;
    width: 570px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}.exper_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    width: 500px;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
}
.exper_btn{
    padding-top: 50px;
}
.exper_shape{
    position: absolute;
    right: 0;
    bottom: -220px;
}
.round3{
    position: absolute;
    bottom: 533px;
    left: 35%;
    transform: translate(-50%);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid #FFABBA;
    animation: round3 4s linear infinite 
}
@keyframes round3 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.round3::after{
    position: absolute;
    content: "";
    top: -12px;
    left: 50%;
    transform: translate(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFABBA;
}
/* ============== exper end hare ================== */

/* ============== works start hare ================ */
#works{
    padding-top: 120px;
    position: relative;
}
.works_wrapper_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
    margin-bottom: 120px;
}
.works_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading_group2 h3{
    width: 693px;
    margin-bottom: 60px;
}
.works_item{
    width: 575px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
}
.works_item:nth-child(2), .works_item:nth-child(3){
    width: 810px;
}
.works_item .works_img_box{
    height: 330px;
    width: 100%;
   overflow: hidden;
}
.works_item .works_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.works_img_content{
    padding: 30px;
    background-color: #fff;
}
.works_img_content h4{
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.works_img_content a{
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #FF5538;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    padding-top: 10px;
}
.works_shape{
    position: absolute;
    top: -235px;
    left: 0px;
}
/* ============== works end hare ================== */

/* ============== counter start hare ================ */
#counter{
    background: #FDF9F8;
    padding: 120PX 0;
    position: relative;
}
.counter_wrapper{
    display: flex;
    column-gap: 100px;
}
.counter_main{
    width: 550px; 
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    width: 575px;
    z-index: 555;
}
.counter_item{
    width: 260px;
    background-color: #fff;
    padding: 74px 60px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.11);
}
.counter_item h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 8px;
}
.counter_item p{
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
}
.counter_content{
    width: 760px;
}
.counter_content h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
    width: 570px;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.counter_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    width: 550px;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 40px;
}
.counter_shape{
    position: absolute;
    right: 0;
    bottom: 0;
}
.round4{
    position: absolute;
    bottom: 280px;
    left: 6%;
    transform: translate(-50%);
    height: 239px;
    width: 239px;
    border-radius: 50%;
    border: 2px solid #FFDCD8;
    animation: round4 4s linear infinite 
}
@keyframes round4 {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.round4::after{
    position: absolute;
    content: "";
    top: 24px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFDCD8;
}
/* ============== counter end hare ================== */

/* ============== companys start hare ================ */
#companys{
    padding: 120px 0;
}
.company_heading{
    width: 850px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.company_heading h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.company_wrapper{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.company_item{
    background: #FDF9F8;
    width: 210px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ============== companys end hare ================== */

/* ============== navber start hare ================ */
#project{
    background: #FFD7C8;
    padding: 100px 255px;
    position: relative;
}
.project_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pera{
    font-size: 20px;
    font-weight: 400px;
    line-height: 180%;
    width: 1283px;
    font-family: 'Nunito', sans-serif;
    color: #29313D;
}
.project_shape{
    position: absolute;
    top: 0;
    right: 0;
}
.works_btn{
    z-index: 555;
}
/* ============== navber end hare ================== */

/* ============== navber start hare ================ */
#footer{
    padding: 140px 0 60px 260px;
    background: #fff;
}
.footer_wrapper{
    display: flex;
    column-gap: 160px;
}
.footer_pera{
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    width: 450px;
    color: #29313D;
    text-transform: capitalize;
    padding-top: 45px;
    padding-bottom: 190px;
    font-family: 'Nunito', sans-serif;
}
.footer_content a{
    display: flex;
}
.footer_content h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 48px;
}
.footer_content a{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 30px;
}
.footer_link_wrapper{
    display: flex;
    justify-content: space-between;
}
.footer_link a{
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}
.footer_link_privacy a{
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #29313D;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    padding-right: 60px;
}
/* ============== navber end hare ================== */